/**
 * Geral
 */

//Seletores
body  {
	overflow-x: hidden;
}
figure {
	margin: 0;
}
a {
	@extend %tr-color;

	&:hover {
		text-decoration: underline;
	}
}

/**
 * Classes uteis
 */
#wrapper {
	width: 100%;
}

.display-block {
	display: block;
}
.centered {
	margin: 0 auto;
}
.abs {
	@extend %abs;
}
.rel {
	@extend %rel;
}
.font-lato {
	font-family: 'Lato', Arial, sans-serif !important;
}

//widgets
.widget-header {
	border-bottom: 1px solid #ccc;
	margin-bottom: rem-calc(20);
	@extend %rel;

	a {
		color: #222;
		@extend %tr-opacity;

		&:hover {
			@include opacity(0.7);
		}
	}

	span {
		font-size: rem-calc(12);
		margin-left: rem-calc(10);

		&:first-child {
			margin-top: rem-calc(6);
		}
	}
}

.line-red {
	border-bottom: 2px solid $primary-color;
	width: rem-calc(120);
	bottom: 0;
}

//Colors
.white {
	color: white;

	&:hover {
		color: #222;
	}
}

.grey {
	color: #999;
}

.red {
	color: $primary-color;
}

//Fonts
.text-italic {
	font-style: italic;
}

.text-upp {
	text-transform: uppercase;
}

