
@media #{$small-only} { 
	/**
	 * Slide principal
	 */
	.main-slide {
		li {
			height: rem-calc(300);
		}
	}

	/**
	 * Lista de servicos
	 */
	.list-services {
		li {
			text-align: center;
		}
	}

	/**
	 * Postagem
	 */
	.post-content {
		margin-top: rem-calc(20);
	}

	/**
	 * Form de busca
	 */
	.form-search {
		margin-bottom: rem-calc(20);
	}
}

@media #{$medium-only} { 
	/**
	 * Postagem
	 */
	.post-content {
		margin-top: rem-calc(20);
	}

	/**
	 * Form de busca
	 */.form-search {
	 	margin-bottom: rem-calc(20);
	 }
}