.comment-anchor {
	margin-left: rem-calc(10);
}

.share-bar {
	@include padY(rem-calc(5));
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: rem-calc(10) 0 rem-calc(20) 0;
}

.twitter-share-button {
	margin-left: rem-calc(10);
}

#comments-section {
	header {
		//border-bottom: 1px solid #ccc;
		margin-top: rem-calc(20);
	}
}

.sidebar-news {
	@extend %margin-top;
}

.columnist-single-thumb {
	@extend %bg-cover;
	@extend %margin-bottom;
	@include border-radius(50%);
	width: rem-calc(110);
	height: rem-calc(110);
}

.columnist-name {
	border-bottom: 1px solid #ccc;
}

.last-columns {
	li {
		border-left: 1px solid #ccc;
		&:first-child {
			border: none;
		}
	}
}

//Wordpress classes
.alignleft {
	float: left;
	margin-right: rem-calc(10);
	@extend .th;
}

.alignright {
	float: right;
	margin-left: rem-calc(10);
	@extend .th;
}

.aligncenter {
	width: 100%;
	float: left;
	@extend .th;

	img {
		width: 100%;
	}
}

//galerias
#slideshow-1 {
	width: 100%;
	float: left;
	height: rem-calc(600);
	overflow: hidden;

	img {
		width: 100%;
		float: left;
	}
}

.gallery-slide {
	width: 100%;
	height: rem-calc(600);
	float: left;
}