.icon-bottom {
  background-image: url(images/spritesheet.png);
  background-position: -376px -176px;
  width: 28px;
  height: 28px;
}
.icon-calendar2 {
  background-image: url(images/spritesheet.png);
  background-position: -187px -235px;
  width: 18px;
  height: 19px;
}
.icon-comment {
  background-image: url(images/spritesheet.png);
  background-position: -300px -217px;
  width: 18px;
  height: 18px;
}
.icon-down {
  background-image: url(images/spritesheet.png);
  background-position: -376px -204px;
  width: 16px;
  height: 9px;
}
.icon-file {
  background-image: url(images/spritesheet.png);
  background-position: -169px -235px;
  width: 18px;
  height: 19px;
}
.icon-grid-red {
  background-image: url(images/spritesheet.png);
  background-position: -29px -235px;
  width: 24px;
  height: 24px;
}
.icon-grid {
  background-image: url(images/spritesheet.png);
  background-position: -404px -176px;
  width: 24px;
  height: 24px;
}
.icon-list-grey {
  background-image: url(images/spritesheet.png);
  background-position: -53px -235px;
  width: 29px;
  height: 24px;
}
.icon-list-red {
  background-image: url(images/spritesheet.png);
  background-position: 0px -235px;
  width: 29px;
  height: 24px;
}
.icon-lock2 {
  background-image: url(images/spritesheet.png);
  background-position: -428px -176px;
  width: 13px;
  height: 18px;
}
.icon-logo-mo {
  background-image: url(images/spritesheet.png);
  background-position: 0px -140px;
  width: 300px;
  height: 95px;
}
.icon-logo {
  background-image: url(images/spritesheet.png);
  background-position: 0px 0px;
  width: 444px;
  height: 140px;
}
.icon-menu3 {
  background-image: url(images/spritesheet.png);
  background-position: -149px -235px;
  width: 20px;
  height: 20px;
}
.icon-play2 {
  background-image: url(images/spritesheet.png);
  background-position: -300px -140px;
  width: 76px;
  height: 77px;
}
.icon-print {
  background-image: url(images/spritesheet.png);
  background-position: -82px -235px;
  width: 67px;
  height: 20px;
}
.icon-right {
  background-image: url(images/spritesheet.png);
  background-position: -318px -217px;
  width: 10px;
  height: 16px;
}
.icon-search {
  background-image: url(images/spritesheet.png);
  background-position: -376px -140px;
  width: 62px;
  height: 36px;
}
.icon-up {
  background-image: url(images/spritesheet.png);
  background-position: -392px -204px;
  width: 16px;
  height: 9px;
}
.icon-video2 {
  background-image: url(images/spritesheet.png);
  background-position: -205px -235px;
  width: 21px;
  height: 19px;
}
